atomicwrites
attrs
cachetools
certifi
chardet
coverage
docutils
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
importlib-metadata
more-itertools
oauthlib
packaging
pbr
pluggy
py
pyasn1
pyasn1-modules
pyparsing
pytest
pytest-cov
python-dateutil
requests
requests-oauthlib
restructuredtext-lint
rsa
six
stevedore
uritemplate
urllib3
wcwidth
zipp

